!!! 5
%html
%head
  %title Pinup Board
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  / / navbar    consider creating a _navbar partial
  = render 'navbar'

  / flash messages that clarify success and failures
  .container
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "alert alert-info"
    = yield























/ old version
// <!DOCTYPE html>
// <html>
// <head>
//   <title>Pinup</title>
//   < % = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true % >
//   < % = javascript_include_tag 'application', 'data-turbolinks-track' => true % >
//   < % = csrf_meta_tags % >
// </head>
// <body>

// <%= yield %>

// </body>
// </html>