!!! 5
%html
%head
  %title Pinup Board
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  / navbar    consider creating a _navbar partial
  %nav.navbar.navbar-default
    
    .container
      .navbar-brand= link_to "Pinup", root_path
      
      / sunspot search form (with inline haml styling)
      %ul.nav.navbar-nav.navbar-right.some{ :style => "margin-top: 10px;" }
        = form_tag pins_path, method: :get do
          = text_field_tag :search, params[:search]
          = submit_tag "Search", name: nil

      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          /users/new
          %li= link_to "New Pin", new_pin_path
          /users/edit
          %li= link_to "Account", edit_user_registration_path 
          /   signout and return to root_path
          %li= link_to "Sign Out", destroy_user_session_path, method: :delete
      - else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Sign Up", new_user_registration_path
          /users/sign_in
          %li= link_to "Sign In", new_user_session_path
  / flash messages that clarify success and failures
  .container
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "alert alert-info"
    = yield

/ = link_to 'Sign in', new_user_session_path

/ old version
// <!DOCTYPE html>
// <html>
// <head>
//   <title>Pinup</title>
//   < % = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true % >
//   < % = javascript_include_tag 'application', 'data-turbolinks-track' => true % >
//   < % = csrf_meta_tags % >
// </head>
// <body>

// <%= yield %>

// </body>
// </html>